{%extends "lay.html"%}

{%block body%}


<nav class="navbar navbar-expand-lg navbar-light bg-light" id="corenav">
    <div class="container-fluid"  >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
            <a href="{%url 'home_view'%}" ><img id="logo" src="https://akirachix.com/img/logo.png?_cchid=1660c557f83aa4644e2a8d4bf0ddd4fb"></a>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Student
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
                  <li><a class="dropdown-item" href="{%url 'register_student'%}">Register Student</a></li>
                  <li><a class="dropdown-item" href="{%url 'student_list'%}"> View Students</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                
                <a class="nav-link " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Trainer
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
                  <li><a class="dropdown-item" href="{%url 'register_trainer'%}">Register Trainer</a></li>
                  <li><a class="dropdown-item" href="{%url 'trainer_list'%}"> View Trainers</a></li>
                </ul>
              </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Courses
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
              <li><a class="dropdown-item" href="{%url 'course_form'%}">Register Course</a></li>
              <li><a class="dropdown-item" href="{%url 'course_list'%}">View Course</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Calendar
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink" id="dropdown">
                
                <li><a class="dropdown-item" href="{%url 'calendar'%}"> View Event</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
<p></p>

  <div class="content">
    <!-- <h1>She Builds. She Serves. She Leads</h1> -->
    <div class="apps">
    <div class="value">
      <a href="{%url 'trainer_list'%}">
     
      <p class="card-text">Trainer </p>
      <h5 class="values" value="{{trainers}}">0</h5>

    </a>
    </div>
    <div class="value">
      <a href="{%url 'course_list'%}">
     
      <p class="card-text">Courses</p>
      <h5 class="values" value="{{courses}}">0</h5>
    </a>
    </div>
  </div>

  <div class="apps">
    
      <div class="value">
        <a href="{%url 'student_list'%}">
      
          <p class="card-text">Student </p>
          <h5 class="values" value="{{students}}">0</h5>
 
          

        </a>
     </div>
 

    <div class="value">
      <a href="{%url 'calendar'%}">
    
      <p class="card-text">Events </p>
      <h5 class="values" value="{{events}}">0</h5>

    </a>
    </div>
  </div>

  </div>
  


  <!-- <footer class="copyright">
    Copyright &copy;2021 AkiraChix. All rights reserved.
</footer> -->
  {%endblock%}